.aboutH3 {
  text-align: center;
  padding-top: 36px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 36px;
  color: #666;
  text-shadow: 0 0 1px #999;
}

dl {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto 20px;
  color: #555;
}
dt {
  font-weight: bold;
  width: 36%;
}
dd {
  width: 64%;
}
dt,
dd {
  border-bottom: 1px solid #333;
  padding: 0 0 4px 8px;
  margin-bottom: 20px;
}

.aboutMe {
  max-width: 560px;
  line-height: 1.6;
  margin: 0 auto 40px;
  padding: 0 10px;
}

.formWrapper {
  background: #0f214e;
}
.formBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formBox input,
textarea {
  border: 2px solid #cc6666;
  border-radius: 4px;
}

.formBox [type="text"],
[type="email"],
textarea {
  margin: 20px auto;
  padding: 10px;
  display: block;
  width: 400px;
  color: #fff;
}

@media (max-width: 600px) {
  .formBox [type="text"],
  [type="email"],
  textarea {
    width: 300px;
  }
}

textarea {
  padding-bottom: 100px;
}

.formBtn {
  width: 180px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.formBtn input {
  padding: 10px;
  background: #cc6666;
}
