#sidebar {
  position: fixed;
  left: 0;
  bottom: 51px;
  width: 140px;
  transform: translateX(calc(100vw - 50px));
  transition: 200ms ease-in-out;
  background: linear-gradient(180deg, #2d3077 0%, #22245d 100%);
}
.sidebarInner {
  margin: 0;
  padding: 0;
}
.sidebarInner li {
  list-style: none;
  font-size: 14px;
  color: #fff;
  /* text-transform: uppercase; */
  padding: 12px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarInner li a {
  padding-left: 38px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}
input[type="checkbox"]:checked ~ #sidebar {
  transform: translateX(calc(100vw - 140px));
}

input[type="checkbox"] {
  box-sizing: border-box;
  display: none;
}
.sidebarToggle {
  padding: 10px;
  margin-right: 4px;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  bottom: 260px;
  right: 0;
  width: 40px;
}
.stick {
  transition: all 0.1s;
  height: 3px;
  width: 100%;
  background-color: #111;
}
.part-1 {
  position: relative;
}
.part-2 {
  position: relative;
  margin-top: 3px;
}
.part-3 {
  position: relative;
  margin-top: 3px;
}
input[type="checkbox"]:checked ~ .sidebarToggle > .part-2 {
  transition: all 0.1s;
  width: 110%;
}

input[type="checkbox"]:checked ~ .sidebarToggle > .part-3 {
  transition: all 0.1s;
  width: 120%;
}
