h1 {
  background: url(./images/logo_transparent.png) no-repeat left 3px / contain;
  letter-spacing: 1px;
  padding-left: 36px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 1px #fff;
}

/* ページh2 */
.pageTitle {
  position: fixed;
  top: 0;
  right: 46px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  padding: 12px 2px 0;
  z-index: 8001;
}

/* 共通box */
.commonBox {
  min-height: calc(100vh - 90px);
  padding: 10px;
}
