@import url("https://fonts.googleapis.com/css2?family=Neuton:ital@1&display=swap");

h1 {
  background: url(./images/logo_transparent.png) no-repeat left 3px / contain;
  letter-spacing: 1px;
  padding-left: 36px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 1px #fff;
}

h2 {
  position: fixed;
  top: 0;
  right: 46px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  padding: 12px 2px 0;
}

/* 共通box */
.commonBox {
  min-height: calc(100vh - 90px);
  padding: 10px;
}
.loadingBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  position: fixed;
  top: 42px;
  width: 100%;
}

/* HOME テキスト */
.txt1Box {
  background-color: #0f214e;
}
.txt1 {
  text-align: center;
  font-size: 56px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  padding-top: 20vh;
  -webkit-text-fill-color: transparent;
  background-image: url("./images/sky_00008.jpg");
  background-size: cover;
  background-clip: text;
  background-repeat: no-repeat;
}

.txt2 {
  text-align: center;
  text-shadow: 0 0 1px #000;
  font-weight: 300;
  font-size: 30px;
  padding: 22vh 40px 0 40px;
  background: #eee;
}

@media (max-width: 767px) {
  .txt1 {
    font-size: 44px;
  }
  .txt2 {
    font-size: 24px;
  }
}
@media (max-width: 549px) {
  .txt1 {
    font-size: 34px;
  }
  .txt2 {
    font-size: 18px;
  }
}

/* HOME imgBox */
.imgBox {
  background: url(./images/test.jpg) no-repeat center center/cover;
}
